*{
    margin: 0;
    padding: 0;
}

.Contenido{
    width:1200px; 
    height: 500px;
    background-color: #39b6bb;
    margin-top: -240px;
    margin-left: 205px;
    padding: 100px;
    box-sizing: border-box;
    
     font-size: 50px;
     color: #ffffff;
}

.Titulo{
    font-size: 25px;
    margin-top: 25px;
    font-family: arial;
    color: #ffffff;
}

.Titulo h2{ 
      font-size: 20px;
      margin-top: -28px;
      margin-left: 800px;
      color: #ffffff;    
}
.Titulo h3{ 
      font-size: 20px;
      margin-top: -20px;
      margin-left: 945px;
      color: #ffffff;    
}
.Titulo h4{ 
      font-size: 20px;
      margin-top: 35px;
      color: #ffffff;    
}
.Titulo h5{ 
      font-size: 20px;
      margin-top: 25px;
      color: #ffffff;    
}
.Titulo h6{ 
      font-size: 20px;
      margin-top: 25px;
      color: #ffffff;    
}

.Margen{
    width: 600px;
    height: 50px;
    
     font-size: 10px;
    
    width: 1055px;
    height: 250spx;
    padding: 20;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #ffffff;
    
    position: relative;
    
    margin:auto;
    margin-top: 249px;
    margin-left: 298px;
    margin-bottom: 8px;
}

.Margen2{
    width: 600px;
    height: 50px;
    
     font-size: 10px;
    
    width: 1055px;
    height: 250spx;
    padding: 20;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #ffffff;
    
    position: relative;
    
    margin:auto;
    margin-top: -134px;
    margin-left: -6px;
    margin-bottom: 8px;
}
.Margen3{
    width: 600px;
    height: 50px;
    
     font-size: 10px;
    
    width: 1055px;
    height: 250spx;
    padding: 20;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #ffffff;
    
    position: relative;
    
    margin:auto;
    margin-top: -10px;
    margin-left: -6px;
    margin-bottom: 8px;
}

.Margen4{
    width: 600px;
    height: 50px;
    
     font-size: 10px;
    
    width: 1055px;
    height: 250spx;
    padding: 20;
    box-sizing: border-box;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #ffffff;
    
    position: relative;
    
    margin:auto;
    margin-top: -10px;
    margin-left: -6px;
    margin-bottom: 8px;
}

